@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media screen and (max-width: 992px) {
    .hide-mobile {
        display: none;
    }

    .section {
        margin-top: 80px;
        margin-bottom: 80px;
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media screen and (min-width: 992px) {
    .hide-desktop {
        display: none;
    }

    .section {
        margin-top: 80px;
        margin-bottom: 80px;
        margin-left: 160px;
        margin-right: 160px;
    }
}

body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}

p.intro {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 36px;
}

h1 {
    color: #333399;
    font-size: 36px;
    text-align: center;
    margin-bottom: 24px;
}

h1.intro {
    color: #333399;
    font-size: 24px;
    text-align: left;
    margin-bottom: 24px;
}

h2 {
    color: #8585cc;
    font-size: 24px;
    margin-top: 36px;
    margin-bottom: 36px;
}

.center {
    text-align: center;
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.thin {
    font-weight: 200;
}

.underline {
    text-decoration: underline;
}

a,
a.nav-link,
a.nav-link.disabled {
    color: #333399;
}

a.nav-link {
    font-size: 18px;
    font-weight: 300;
}

a:hover,
a:hover.nav-link {
    color: #8585cc;
}

.navbar {
    background-color: #f8f9fa;
    padding: 24px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2851, 51, 153, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:focus {
    box-shadow: none;
}

.vertical-bar {
    margin-left: 24px;
    border-left: 2px solid #8585cc;
    padding-top: 3px;
    padding-left: 24px;
    padding-bottom: 3px;
}

.vertical-bar p {
    font-weight: 300;
}

.vertical-bar.subsection {
    padding-top: 0px;
    padding-bottom: 24px;
}

.section-link {
    position: relative;
}

.section-link span {
    position: absolute;
    top: -125px;
}

a.project-link {
    text-decoration: none;
}

.project {
    margin-top: 24px;
}

.project-card {
    background-color: #f8f9fa;
    padding: 24px;
}

.project-card:hover {
    outline: 2px solid #b1b1cc;
}

.project-image {
    width: 100px;
    margin-bottom: 24px;
}

.project-title {
    color: #333399;
    font-size: 18px;
    font-weight: 500 !important;
    text-decoration: none;
}

.project-date {
    color: #000000;
    font-style: italic;
    font-weight: 200 !important;
    text-decoration: none;
}

.project-desc {
    color: #000000;
    font-weight: 300 !important;
    text-decoration: none;
}

.creative {
    margin-top: 24px;
}

.creative-card {
    background-color: #f8f9fa;
    padding: 24px;
}

.creative-card:hover {
    outline: 2px solid #b1b1cc;
}

.creative-image {
    width: 100px;
    margin-bottom: 24px;
}

.creative-desc {
    color: #333399;
    font-weight: 200;
    font-style: italic;
    text-decoration: none;
}

.video-embed {
    padding-bottom: 24px;
}

.social-icons {
    text-align: center;
    width: 200px;
    display: flex;
    margin: auto;
}

.icon {
    flex: 33.33%;
    padding: 10px;
}

.divider {
    width: 36px;
    height: 0px;
    border-bottom: 2px solid #8585cc;
    margin: auto;
}

.subnav {
    color: #8585cc;
    font-size: 18px;
    margin-top: 36px;
    margin-bottom: 36px;
    text-align: center;
}

.subnav a {
    color: #8585cc;
}

.subnav a:hover {
    color: #333399;
}